body {
  line-height: 1.5;
  color: white;
 
 	font-family: 'Permanent Marker', cursive;
 	background: url('../images/daft-sam.gif');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
 
.container {
  width: 500px;
  margin: 40px;
  background: rgba(0,0,0,0.5);
  border-radius: 35px;
  padding: 15px;
}

h1 {
	font-size: 75px;
	text-align: center;
	margin-bottom: -40px;
}

h2 {
	font-size: 30px;
	text-align: center;
}

a {
	color: yellow;
	text-decoration: none;
}